
div{
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../../../media/css-assignment-5-8.png");
    background-repeat: no-repeat;
}

.assign-4-shape-1{
    background-size: 80%;

}

.assign-4-shape-2{
    background-size: 80%;
    background-position:top right;
    background-repeat: repeat-y;
}

.assign-4-shape-3{
    background-size: 80%;
    background-position: bottom;
    background-repeat: repeat-x;
}

.assign-4-shape-4{
    background-size: 50% 50%;
    background-position:right bottom;
    background-repeat: no-repeat;
}