div {
  width: 300px;
  height: 60px;
  background-color: #eee;
  text-align: center;
  position: relative;
  left: 30%;
  margin: 20px;
  line-height: 3.5;
}

div:empty {
  background-color: #ff0000;
}
