.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30px);
  gap: 20px;
  align-content: space-between;
}
.grid div {
  background-color: #e91e63;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}
